*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 0;
}

img {
  width: 25px;
  height: 25px;
  visibility: hidden;
}

#one {
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #fffc00;
  opacity: 0.5;
}

#output {
  color: red;
}

.move {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  background-color: #fffc00;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-duration: 1s;
}

.button-panel {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 6px 30px;
  text-align: left;
  width: 100px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
  margin-bottom: 10px;
}

.btn:hover {
  width: 120px;
}
