*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 0;
}

img {
  width: 25px;
  height: 25px;
  visibility: hidden;
}

#one {
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
}

#output {
  color: red;
}

.move {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  background-color: #fffc00;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 1s;
}

.button-panel {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 12px 30px;
  text-align: left;
  width: 120px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
}

.btn:hover {
  width: 150px;
}
